<ion-header>
    <ion-toolbar color="danger">
      <div>
          <ion-button (click)="goBack()" round color="dank" fill>
              <ion-icon name="arrow-round-back"></ion-icon>
            </ion-button>
            <ion-title class="tle" text-center>
              Điểm Danh
            </ion-title>
      </div>   
    </ion-toolbar>
  </ion-header>

<ion-content padding>

    <ion-list>
        <ng-container *ngIf="!Students || Students.length == 0">
          <div *ngFor="let n of [0,1,2]" padding>
            <ion-skeleton-text></ion-skeleton-text>
            <p>
              <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
            </p>
          </div>
        </ng-container>


    <ion-button shape="round"  color="danger" fill="outline">{{today | date: 'short'}}</ion-button>  
    <ion-card  *ngFor="let item of Students">
        <ion-item-sliding>
            <ion-item  lines="inset">
        <ion-icon name="school" slot="start"></ion-icon>
        <ion-label>{{ item.name }}</ion-label>
        <ion-button fill="outline" [routerLink]="['/view-student', item.id]" slot="end">Profile + Note</ion-button>
        <ion-toggle slot='end'  name="status" [(ngModel)]="item.status"  checked="{{ item.status }}"></ion-toggle>
      </ion-item>
      <ion-item-options side="end"  color="danger">
          <ion-item-option color="warning"  [routerLink]="['/sinvien-detail', item.id]"> Sửa <ion-icon name="cog"></ion-icon></ion-item-option>
          <ion-item-option color="danger" (click)="removeStudent(item)">Xóa</ion-item-option>
        </ion-item-options>
      <ion-card-content>
        MSSV: 
        {{ item.mssv}}<br>
        Note: {{item.note}}
      </ion-card-content>
      <ion-card-content>
          Số buổi có: 
          {{ item.n_co}} - 
          Số buổi vắng: 
          {{ item.n_vang }}
        </ion-card-content>
      </ion-item-sliding>       
      <!-- {{ item.time | date: 'short'}} -->
   </ion-card>
   <ion-button
   (click)="presentModal()"
   shape="round"
   color="primary"
   expand="full"
   fill="outline"
   >Kết Thúc</ion-button>
  </ion-list>


</ion-content>
