.list {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
  font: italic bold 50px/90px Comic Sans MS, cursive, sans-serif;
  font-size: 5em;
  text-align: center;
}
.tle{
    font: italic bold 20px/40px Comic Sans MS, cursive, sans-serif;
    margin-top: 0.2em;
  }
.backround
{
  background: gray;
}
.fake-skeleton{
  width: 60%;
  margin-top: 0em;
}

